.dark-style{

    color: white;
    background-color: black;

}

.dark-card{
    color:white;

}

.beer-img{
    width:180px !important;
    height: 180px !important;
}

.text-red{
    color:crimson !important;
}